{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="go-back-arrow">
        <a id="back-arrow" href="{% url 'main-tasks' %}">&#8592; Back</a>
    </div>
    <div class="body-form">
<form method="POST" action="">
    {% csrf_token %}
    <div class="niewidka-text">"Task completed" status:</div>
    <div class="peleryna_niewidka">
        {{ form.as_p }}
    </div>
    <input class="button" type="submit" value="Submit">
</form>
    </div>
</div>
</body>
</html>
{% endblock content %}