{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="user-header-info">
{% if request.user.is_authenticated %}
<p class="user-nickname">
    <img class="rounded-circle account-img-main" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    {{ request.user }}
</p>
<a class="user-log" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="user-log" href="{% url 'login' %}">Login</a>
{% endif %}
</div>
<div class="header-bar">
    <div>
        <h1>Welcome, {{ request.user.username|title }}!</h1>
        <h3 class="random-quote">{{ random_quote }}</h3>
        <!--<h3>You currently have <div class="undone-number">{{ tasks.count }}</div> active task{{ count|pluralize:"s"}}.</h3> -->
    </div>
</div>
<div class="container">
<div class="search-bar-wrapper">
<form method="GET" class="search-bar">
    <input type="text" name="search_bar" value="{{ search_input }}">
    <input class="search-button" type="submit" value="Search">
</form>
    <div class="btn btn-primary tooltip-plus">
        <a id="create-link" href="{% url 'create-tasks' %}">&#x2b;</a>
        <div class="right">
            <h3>Add a task</h3>
            <i></i>
        </div>
    </div>
</div>

    <div class="item tasks-wrapper">
        {% for task in tasks %}
        {% if task.visible == False %}
        <div class="specific-task">
            {% if task.status %}
                <div class="task-name">
                    <div class="task-completed-icon"></div>
                    <a href="{% url 'update-tasks' task.id %}">{{ task }}</a>
                    <div class="deadline-task">{{ task.deadline }}</div>
                </div>
            <div class="btn btn-primary tooltip-tick">
                <a class="delete-done-link" href="{% url 'confirm-tasks' task.id %}">&#10004;</a>
                <div class="right">
                    <h3>Complete?</h3>
                    <i></i>
                </div>
            </div>
            {% else %}
                <div class="task-name">
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'update-tasks' task.id %}">{{ task }}</a>
                    <div class="deadline-task">{{ task.deadline }}</div>
                </div>
            <div class="btn btn-primary tooltip">
                <a class="delete-link" href="{% url 'delete-tasks' task.id %}">&#10006;</a>
                <div class="right">
                    <h3>Delete</h3>
                    <i></i>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% empty %}
        <h3>No tasks yet.</h3>
        {% endfor %}
    </div>
</div>
<div id="pomodoro-app">
  <div id="container">
    <div id="timer">
        <div class="circle"></div>
      <div id="time">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
        <button id="work">START</button><br>
        <button id="stop">STOP</button>
      <div id="filler"></div>
    </div>
    <div>
      <button id="shortBreak">SHORT BREAK (5 min.)</button><br>
      <button id="longBreak">LONG BREAK (15 min.)</button>
    </div>
  </div>
</div>
</body>
</html>
{% endblock content %}