<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Focus</title>
</head>
<body>
<h1>SIEMANO, TO JO!</h1>
<a href="{% url 'create-tasks' %}">Create a task</a>
<table>
{% for task in tasks %}
<tr>
    <td>{{ task.name }} | {{ task.deadline }}<br>{{ task.description }}</td>
    <td><a href="{% url 'detail-tasks' task.id %}">Details</a></td>
    <td><a href="{% url 'update-tasks' task.id %}">Update</a></td>
</tr>
{% empty %}
    <h3>No tasks yet.</h3>
{% endfor %}
</table>
</body>
</html>