{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="user-header-info">
{% if request.user.is_authenticated %}
<p class="user-nickname">{{ request.user }}</p>
<a class="user-log" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="user-log" href="{% url 'login' %}">Login</a>
{% endif %}
</div>
<div class="header-bar">
    <div>
        <h1>Welcome, {{ request.user.username|title }}.</h1>
        <h3>You currently have <div class="undone-number">{{ tasks.count }}</div> active task{{ count|pluralize:"s"}}.</h3>
    </div>
</div>



<div class="container">
<a href="{% url 'create-tasks' %}">Create a task</a>

<form method="GET">
    <input type="text" name="search_bar" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>

<table>
{% for task in tasks %}
<tr>
    <td>{{ task.name }} | {{ task.deadline }}<br>{{ task.description }}</td>
    <td><a href="{% url 'detail-tasks' task.id %}">Details</a></td>
    <td><a href="{% url 'update-tasks' task.id %}">Update</a></td>
    <td><a href="{% url 'delete-tasks' task.id %}">Delete</a></td>
</tr>
{% empty %}
    <h3>No tasks yet.</h3>
{% endfor %}
</table>
</div>
</body>
</html>
{% endblock content %}